Source: ros-jazzy-vision-opencv
Section: misc
Priority: optional
Maintainer: Kenji Brameld <kenjibrameld@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ros-workspace
Homepage: http://www.ros.org/wiki/vision_opencv
Standards-Version: 3.9.2

Package: ros-jazzy-vision-opencv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-cv-bridge, ros-jazzy-image-geometry, ros-jazzy-ros-workspace
Description: Packages for interfacing ROS2 with OpenCV, a library of programming functions for real time computer vision.
