Source: ros-kilted-vision-opencv
Section: misc
Priority: optional
Maintainer: Kenji Brameld <kenjibrameld@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ros-workspace
Homepage: http://www.ros.org/wiki/vision_opencv
Standards-Version: 3.9.2

Package: ros-kilted-vision-opencv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-cv-bridge, ros-kilted-image-geometry, ros-kilted-ros-workspace
Description: Packages for interfacing ROS2 with OpenCV, a library of programming functions for real time computer vision.
